title, h1, h2, p, body{
    font-family: Lucida Grande, sans-serif;
    color: #ffffff;
}

h1{
    text-align: center;
    font-size: 64px;
}

h2{
    font-size: 30px;
    text-shadow: 5px 5px 2px #808080;
}

p{
    font-size: 24px;
    padding-top: 20px;
}

body{
    background-color: #000000;
}

img{
    height:525px;
    width: 525px;
    display: block;
    margin-left: auto;
    margin-right: auto;
}

/*div{
    height: 150px;
    padding-left: 25px;
    padding-right: 25px;
    padding-top: 25px;
    padding-bottom: 25px;
}
*/
#red{
    background-color: #ff0000;
    text-align: right;
    min-height: 150px;
    padding-left: 25px;
    padding-right: 25px;
    padding-top: 25px;
    padding-bottom: 25px;
}

#blue{
    background-color: #0000ff;
    text-align: left;
    min-height: 150px;
    padding-left: 25px;
    padding-right: 25px;
    padding-top: 25px;
    padding-bottom: 25px;

}

#yellow{
    background-color: #ffff00;
    text-align: right;
    min-height: 150px;
    padding-left: 25px;
    padding-right: 25px;
    padding-top: 25px;
    padding-bottom: 25px;
    
}

#yellow h2{
    color: #000000;
    text-shadow: #c7e2c7;
}

#green{
    background-color: #008000;
    text-align: left;
    min-height: 150px;
    padding-left: 25px;
    padding-right: 25px;
    padding-top: 25px;
    padding-bottom: 25px;
}

footer{
    color: #ffffff;
    text-align: right;
    padding-left: 0px;
    padding-top: 0px;
    padding-bottom: 10px;
    padding-right: 10px;
}